---
import { Image } from 'astro:assets'
import banana from '../../assets/fort/fennix/banana.png'
import blossom from '../../assets/fort/fennix/blossom.png'
import card from '../../assets/fort/fennix/card.png'
import claws from '../../assets/fort/fennix/claws.png'
import fist from '../../assets/fort/fennix/fist.png'
import fists from '../../assets/fort/fennix/fists.png'
import guitar1 from '../../assets/fort/fennix/guitar1.png'
import guitar2 from '../../assets/fort/fennix/guitar2.png'
import lightning from '../../assets/fort/fennix/lightning.png'
import peace from '../../assets/fort/fennix/peace.png'
import smug from '../../assets/fort/fennix/smug.png'
import wings from '../../assets/fort/fennix/wings.png'
const cdnUrl = 'https://cdn.invisyarcticfox.uk/fortography'
import '../../styles/fn.scss'
---

<div class='char bk'>
  <a href={`${cdnUrl}/fennix/big/banana.png`} target='_blank' rel='noopener norefferer'><Image src={banana} alt={'banana.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/blossom.png`} target='_blank' rel='noopener norefferer'><Image src={blossom} alt={'blossom.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/card.png`} target='_blank' rel='noopener norefferer'><Image src={card} alt={'card.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/claws.png`} target='_blank' rel='noopener norefferer'><Image src={claws} alt={'claws.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/fist.png`} target='_blank' rel='noopener norefferer'><Image src={fist} alt={'fist.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/fists.png`} target='_blank' rel='noopener norefferer'><Image src={fists} alt={'fists.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/guitar1.png`} target='_blank' rel='noopener norefferer'><Image src={guitar1} alt={'guitar1.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/guitar2.png`} target='_blank' rel='noopener norefferer'><Image src={guitar2} alt={'guitar2.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/lightning.png`} target='_blank' rel='noopener norefferer'><Image src={lightning} alt={'lightning.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/peace.png`} target='_blank' rel='noopener norefferer'><Image src={peace} alt={'peace.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/smug.png`} target='_blank' rel='noopener norefferer'><Image src={smug} alt={'smug.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
  <a href={`${cdnUrl}/fennix/big/wings.png`} target='_blank' rel='noopener norefferer'><Image src={wings} alt={'wings.png'} width={480} height={270} quality={'mid'} loading={'eager'}/></a>
</div>