---
import { Image } from 'astro:assets'
import arcade1 from '../../assets/fort/lucienwest/arcade1.png'
import arcade2 from '../../assets/fort/lucienwest/arcade2.png'
import bar from '../../assets/fort/lucienwest/bar.png'
import graveyard from '../../assets/fort/lucienwest/graveyard.png'
import grappler1 from '../../assets/fort/lucienwest/grappler1.png'
import grappler2 from '../../assets/fort/lucienwest/grappler2.png'
import grappler3 from '../../assets/fort/lucienwest/grappler3.png'
import grappler4 from '../../assets/fort/lucienwest/grappler4.png'
import ram1 from '../../assets/fort/lucienwest/ram1.png'
import ram2 from '../../assets/fort/lucienwest/ram2.png'
import ram3 from '../../assets/fort/lucienwest/ram3.png'
import ram4 from '../../assets/fort/lucienwest/ram4.png'
const cdnUrl = 'https://cdn.invisyarcticfox.uk/fortography'
import '../../styles/fn.scss'
---

<div class='char bk'>
  <a href={`${cdnUrl}/lucienwest/big/arcade1.png`} target='_blank' rel='noopener norefferer'><Image src={arcade1} alt={'arcade1.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/arcade2.png`} target='_blank' rel='noopener norefferer'><Image src={arcade2} alt={'arcade2.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/bar.png`} target='_blank' rel='noopener norefferer'><Image src={bar} alt={'bar.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/graveyard.png`} target='_blank' rel='noopener norefferer'><Image src={graveyard} alt={'graveyard.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/grappler1.png`} target='_blank' rel='noopener norefferer'><Image src={grappler1} alt={'grappler1.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/grappler2.png`} target='_blank' rel='noopener norefferer'><Image src={grappler2} alt={'grappler2.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/grappler3.png`} target='_blank' rel='noopener norefferer'><Image src={grappler3} alt={'grappler3.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/grappler4.png`} target='_blank' rel='noopener norefferer'><Image src={grappler4} alt={'grappler4.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/ram1.png`} target='_blank' rel='noopener norefferer'><Image src={ram1} alt={'ram1.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/ram2.png`} target='_blank' rel='noopener norefferer'><Image src={ram2} alt={'ram2.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/ram3.png`} target='_blank' rel='noopener norefferer'><Image src={ram3} alt={'ram3.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
  <a href={`${cdnUrl}/lucienwest/big/ram4.png`} target='_blank' rel='noopener norefferer'><Image src={ram4} alt={'ram4.png'} width={480} height={270} quality={'mid'} loading={'lazy'}/></a>
</div>