---
import { Image } from "astro:assets";
import avatar from "../../public/avatar.png";
import "../styles/box.scss";

export interface Props {
  links: {
    href: string;
    label: string;
    colour: string;
  }[];
}

const { links } = Astro.props;
---

<div class="container">
  <div class="box">
    <Image
      class="avt"
      src={avatar}
      alt="avatar.png"
      width="512"
      height="512"
      quality="max"
      loading="eager"
    />
    <div id="names">
      <div class="name">
        Lucas.
        <svg class="fox">
          <use href="/icons.svg#fox"></use>
        </svg>
      </div>
      <div class="username">@invisyarcticfox</div>
    </div>
    <div class="link-list">
      {
        links.map((link) => (
          <a
            href={link.href}
            aria-label={link.label.toUpperCase()}
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" fill={link.colour}>
              <use href={`/icons.svg#${link.label.toLowerCase()}`} />
            </svg>
          </a>
        ))
      }
    </div>
    <div class="page-list">
      <a href="./fursona">fursona</a>
      <a href="./blender">animations</a>
    </div>
    <div class="info">
      <div class="commit">commit <a href=""></a></div>
      <span>
        <a href="https://github.com/Phineas/lanyard">Lanyard</a>,
        <a href="https://simpleicons.org/">Simple Icons</a>
      </span>
    </div>
  </div>
</div>

<script src="../scripts/lanyard.js"></script>
<script src="../scripts/gitrepo.js"></script>
