---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import '../styles/_sonaart.scss'

interface Props {
  imgPth: string;
  artistUrl: string;
  egrLoad?: boolean;
}

const { imgPth, artistUrl, egrLoad = false } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/imgs/sonaart/*.{jpeg,jpg,png}');
if (!images[imgPth])
  throw new Error(
    `'${imgPth}' does not exist in glob: 'src/imgs/sonaart/*.{jpeg,jpg,png}'`,
  );
const artistName = artistUrl.split('/').pop();
---

<div class='cont'>
  <Image
    src={images[imgPth]()}
    alt={artistUrl}
    width={1024}
    height={1024}
    loading={egrLoad ? 'eager' : 'lazy'}
    quality={'high'}
  />
  <div class='artist'>
    <a href={artistUrl} target='_blank' rel='noopener noreferrer'
      >@<u>{artistName}</u></a
    >
  </div>
</div>