---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  file: string;
  artist: {
    name: string;
    url: string;
  }
  date: string;
  egrLd?: boolean;
}

const { file, artist, date, egrLd } = Astro.props;
const fullPth = `/src/assets/art/${file}`

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/art/*.{jpeg,jpg,png}');
if (!images[fullPth]) throw new Error(`'${fullPth}' does not exist in glob: 'src/assets/art/*.{jpeg,jpg,png}'`);
---
<div class='art'>
  <Image
    src={images[fullPth]()} alt={`@${artist.name} - ${file}`}
    height={1024} quality={'high'}
    loading={egrLd ? 'eager' : 'lazy'}
  />
  <div class='artist'>
    <a href={artist.url}>@<u>{artist.name}</u></a>
    <span style={{fontStyle: 'italic', float: 'right'}}>{date}</span>
  </div>
</div>